body {
    margin: 0px;
}

.loginNsignup {
    display: flex;
    justify-content: space-around;
}

/* component Type */

.type {
    width: 40%;
    margin-top: 5%;margin-left: 10%;
}

.picNtitle {
    display: flex;
}

.bething {
    margin-left: 1rem;
    font-size: 38px;font-weight: bold;
}

.login {
    margin-top: 45px;
    font-size: 40px;font-weight: bold;
}

.loginToAccess {
    margin-top: 36px;
    font-size: 21px;
}

.checkboxNForgotPassword {
    display: flex;
    justify-content: space-between;
}

.rememberMe {
    line-height: 5rem;
}

.forgotPassword {
    margin-right: 6rem;
    color:red;
    line-height: 5rem;
}

.checkboxNRememberMe {
    display: flex;
    margin-left: -0.5rem;
}

.loginButton {
    width: 90%;height: 4rem;
    color: white;background-color: #0058FE;
    border:none;
    border-radius: 0.4rem;
    font-size: 14px;font-weight: 600;
}

.dontHaveAnAccount {
    width: 90%;
    margin-top: 1.5rem;
    font-size: 14px;
    text-align: center;
}

.wordSignUpInType {
    text-decoration: underline;
}

.orLoginWith {
    display: flex;
    width: 90%;
    margin-top: 3rem;margin-bottom: 3rem;
    text-align: center;
    justify-content: space-evenly;
}

.hori-line {
    width: 40%;
    height: 1px;
    margin-top: 0.6rem;
    border-top: solid 0.1rem grey;
}

.threeButtonsSection {
    width: 90%;
    margin-top: -1.5rem;
    justify-content: space-around;
    flex-grow: auto;
}

.threeButtons {
    width:28%;height: 3rem;
    margin: 1rem;
    border: grey solid 0.1rem;
    border-radius: 7px;
    background-color: white;
}

.thirdButton {
    margin-top: 4rem;
}

.picSection {
    width: 40%;
    height: 0%;
    margin-right: 10%;
    float:right ;
}

.pic{
    width: 80%;height: 70%;
    margin-top: 10%;margin-right: 104px;
}

/* page SignUp */
.signUpPicSection {
    width: 40%;
    height: 0%;
    margin-left: 10%;
}

.signType {
    width: 40%;
    height: 0%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: -5%;
    float:right 
}

/* page Booking */

.bodyInBooking {
    margin-top: 0px;
    padding-top: 40px;
    padding-left: 4%;padding-right: 4%;
    padding-bottom: 4%;
    background-color: #FAFBFC;
}

.navInBooking {
    width: 92%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.picNtitleInBooking {
    display: flex;   
}

.picBe-Thing {
    width: 80%;height: 70%;
    margin-top: 8%;margin-left: 7%;
}

.navMiddleInBooking {
    display: flex;
    width: 30%;
    padding-top: 1%;
    font-size: 18px;
    font-weight: 700;
}

.picsInNavMiddleInBooking {
    width: 19px;height: 21px;
    margin-right: 2%;
}

.wordsInNavMiddleInBooking {
    margin-right: 5%;
    font-size: 18px;
    font-weight: 700;  
    white-space:nowrap;
}

.rightInBooking {
    display: flex;
    font-size: 18px;
    font-weight: 700;
}

.wordLoginInBooking {
    margin-top: 10%;margin-left: -20%;margin-right: 10%;
}

.buttonSignUpInBooking {
    width: 100px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
}

/* component HeadNNameInBooking */

.headNNameInBooking {
    width: 92%;
    margin: auto;
}

.secondSecInBooking {
    width: 100%;
    margin-top: 47.5px;
    object-fit: cover;
    z-index: 0;
}

.circle {
    width: 100%;
    text-align: center;
}

.headInBooking {
    width: 10%;height: 10%;
    margin-top: -150px;
    border: 1px rgb(91, 207, 236) solid;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
}

.circle1 {
    width: 100%;
    text-align: center;
    margin-top: -50px;
}

.penPicInBooking {
    margin-right: -7%;
}

.nameNEmailInBooking {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.nameInBooking {
    font-size: 24px;
    font-weight: 600;
}

.emailInBooking {
    font-size: 16px;
    font-weight: 400;
    color: #69696983;
    ;
}

.profileNBookingsNPaymentInBooking {
    display: flex;
    width: 91%;height: 80px;line-height: 80px;
    margin: auto;
    margin-top: 32px;
    justify-content: center;
    background-color: rgb(238, 237, 237);
}

.profildInBooking {
    display: flex;
    width: 30%;
    padding-left: 2%;padding-right: 1%;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;font-weight: 400;
    justify-content: space-between;
    background-color: white;
}

.bookingsInBooking {
    display: flex;
    width: 30%;
    padding-left: 2%;padding-right: 1%;
    font-size: 18px;font-weight: 400;
    justify-content: space-between;
    background-color: white;
}

.paymentInBooking {
    width: 30%;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;font-weight: 400;
    background-color: white;
}

.boardsInProfileNBookingsNPaymentInBooking {
    width: 0.1px;height: 80%;
    border-left: solid;
}

.link-right {
    width: 0px;
    height: 50%;
    margin-top: 20px;
    border-right: solid #eff1f3 3px;
}

.wordMyBookingsInBookingNWordUpcomingNDownArrowInBooking {
    display: flex;
    width: 91%;
    margin: auto;
    justify-content: space-between;
}

.wordMyBookingsInBooking {
    margin-top: 40px;margin-left: 1%;
    font-size: 28px;font-weight: 600;
}

.wordUpcomingNDownArrowInBooking {
    display: flex;
    height: 50%;
    margin-top: 40px;margin-right: 2%;
}

.wordUpcomingInBooking {
    font-size: 14px;font-weight: 600;
}

.downArrowInBooking {
    height: 50%;
    margin-top: 9%;margin-left: 15%;
}

.picNTimeNLocationNDownloadQRCodeInBooking {
    display: flex;
    width: 89%;height: 144px;line-height: 80px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.picInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 3%;
}

.timeInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 3%;margin-right: 3%;
    font-size: 20px;font-weight: 600;
}

.link-rightInPicNTimeNLocationNDownloadQRCodeInBooking {
    width: 0px;
    height: 50%;
    margin-top: 0px;margin-right: 1%;
    border-right: solid #eff1f3 3px;
}

.picDateInBooking {
    margin-left: -2%;
}

.dateSecInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 1%;
}

/* .dateNDateInPicNTimeNLocationNDownloadQRCodeInBooking {
    height: 30%;
    background-color: red;
} */

.wordDateInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: 0px;margin-left: -70%;
    font-size: 14px;font-weight: 600;
    color: #112211;
}

.dateInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: -60px;margin-left: -70%;
    font-size: 18px;font-weight: 700;
}

.picLocationInBooking {
    margin-left: -5%;
}

.locationSecInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 1%;
}

.wordLocationInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: 0px;margin-left: -25%;
    font-size: 14px;font-weight: 600;
    color: #112211;
}

.locationInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: -60px;margin-left: -25%;
    font-size: 18px;font-weight: 700;
}

.rightArrowInBooking {
    width: 3.2%;height: 33%;
    margin-left: -2%;
    border: #0058FE solid 2px;border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.rightArrowInPicNTimeNLocationNDownloadQRCodeInBooking {
    width: 20%;
    margin-left: 40%;margin-bottom: 25%;
    object-fit: cover;
}

.blackSectionInBooking {
    display: flex;
    width: 89%;
    margin: auto;
    margin-top: 105px;
    padding-top: 0px;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #444444;  
    z-index: 3;  
}

.leftPartInBlackSectionInBooking {
    width: 48%;
    margin-top: 24px;
}

.wordSubscribeToOurNewsletterInBlackSectionInBooking {
    margin-top: 0px;margin-left: 1%;
    font-size: 30px;font-weight: 700;
    color: #ffffff;
}

.rightPartInBlackSectionInBooking {
    width: 48%;
}

.wordBookEverythingNowInBlackSectionInBooking {
    margin-top: 24px;
    font-size: 20px;font-weight: 700;
    color: #ffffff;
}

.wordGetInBlackSectionInBooking {
    margin-top: 8px;
    font-size: 18px;font-weight: 400;
    color: #ffffff;
}

.inputInBlackSectionInBooking {
    width: 75%;height: 56px;
    margin-top: 24px;
    padding-left: 10px;
    border: 0px;border-radius: 5px;
    font-size: 18px;
}

.buttonInBlackSectionInBooking {
    width: 15%;height: 56px;
    margin-top: -100px;
    margin-left: 3%;
    margin-bottom: 3%;
    border: 0px;border-radius: 5px;
    color: white;background-color: #FFC107;
}

.bottomInBooking {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: -90px;
    padding-top: 150px;
    justify-content: space-evenly;
    z-index: 2;
}

.beThingNPicsInBottomInBooking {
    margin-left: -8%;
}

.picsInBottomInBooking {
    margin-top: 10%;
}

.twitterPic {
    margin-left: 5%;
}

.youtubePic {
    margin-bottom: 1%;
    margin-left: 5%;
}

.igPic {
    margin-left: 5%;
}

.blogInBottomInBooking {
    margin-left: -10%;
}

.titlesInBottomInBooking {
    margin-bottom: 16px;
    font-size: 16px;font-weight: 700;
    color: #112211;
}

.subtitlesInBottomInBooking {
    margin-top: 12px;
}

/* page payment */

.cCNAddNewCardInPayment {
    display: flex;
    width: 89%;height: 248px;line-height: 80px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.cCInPayment {
    width: 315px;height: 184px;
    margin-left: -50%;
    background-color: purple;
}

.addNewCard {
    width: 315px;height: 184px;
    margin-left: -100%;
    border: dashed blue;
}

.wordAddANewCard {
    align-items: end;
    text-align: center;
}

/* page Detail */

.picsInDetail {
    display: flex;
    width: 91%;height: max-content;
    margin: auto;
    margin-top: 44px;
    justify-content: center;
}

.leftPicInDetail {
    display: flex;
    width: 49%;
}

.rightPicInDetail {
    display: flex;
    width: 49%;
    margin-left: 1%;
}

.leftInRightPicInDetail {
    width: 50%;
}

.topLeftInLeftInRightPicInDetail {
    width: 99%;height: 49%;
    margin: auto;
}

.bottomLeftInLeftInRightPicInDetail {
    width: 99%;height: 49%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0px;    
}

.rightInRightPicInDetail {
    width: 50%;
    margin-left: 1.5%;
}

.topRightInLeftInRightPicInDetail {
    width: 99%;height: 49%;
    margin: auto;
}

.bottomRightInLeftInRightPicInDetail {
    width: 99%;height: 49%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0px;   
}


.detailInDetail {
    display: flex;
    width: 89%;
    margin: auto;
    margin-top: 72px;
    justify-content: center;
}

.leftInDetailInDetail {
    margin-right: 10%;
}

.wordMeetingRoomInDetail {
    font-size: 28px;font-weight: 600;
}

.wordProvideInDetail {
    margin-top: 8px;
}

.wordOffersInDetail {
    margin-top: 50px;
    font-size: 28px;font-weight: 600;
}

.bookYourRoomInDetail {
    width: 375px;height: 335px;
    border: 2px solid;
    border-radius: 15px;
}

.bookYourRoomInBookYourRoomInDetail {
    display: flex;
    margin-top: 34px;margin-left: 36px;
}

.dateInBookYourRoomInDetail {
    margin-top: 33px !important;
    margin-left: 33px !important;
}

.timeInBookYourRoomInDetail {
    margin-top: 24px !important;
    margin-left: 33px !important;
}

.buttonInBookYourRoomInDetail {
    width: 82%;height: 48px;
    margin-top: 24px;
    margin-left: 33px;
    border: none;border-radius: 10px;
    color:white;background-color: #0058FE;
}

/* page Detail2 */

.bookYourRoomInDetail2 {
    width: 375px;
    padding-bottom: 30px;
    border: 2px solid;
    border-radius: 15px;
}

.wordYouWontInDetail2 {
    margin-top: 32px;
    font-size: 16px;font-weight: 400;
    text-align: center;
}

.pricePreHourInDetail2 {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 32px;
    font-size: 18px;font-weight: 400;
    text-align: center;
    justify-content: space-between;
}

.hrInBookYourRoomInDetail2 {
    width: 80%;
    margin-top: 28px;margin-bottom: 24px;
}

.totalPriceInDetail2 {
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 18px;font-weight: 600;
    text-align: center;
    justify-content: space-between;
}

/* page Checkout */

.secondSecInCheckout {
    display: flex;
    width: 82%;
    margin: auto;
    margin-top: 57px;
    justify-content: space-between;
}

.leftInSecondSecInCheckout {
    width: 45%;
}

.wordConfirmationInChecking {
    font-size: 32px;font-weight: 600;
}

.wordYourBookingInChecking {
    margin-top: 45px;
    font-size: 24px;font-weight: 600;
}

.dateNEditInChecking {
    display: flex;
    margin-top: 24px;
    font-size: 18px;font-weight: 700;
    justify-content: space-between;
}

.wordEditInChecking {
    text-decoration: underline;
}

.dateInSecondSecInCheckout {
    margin-top: 8px;
    font-size: 16px;font-weight: 400;
}

.timeNEditInChecking {
    display: flex;
    margin-top: 24px;
    font-size: 18px;font-weight: 700;
    justify-content: space-between;
}

.timeInSecondSecInCheckout {
    margin-top: 8px;margin-bottom: 39px;
    font-size: 16px;font-weight: 400;
}

.payWithInCheckout {
    margin-top: 48px;
    font-size: 28px;font-weight: 600;
}

.cCOrDC {
    width: 100%;height: 50px;
    margin-top: 24px;
    border: 1px solid;border-radius: 10px;
}

.expirationNCVV {
    width: 101%;
    display: flex;
    padding: 0;
}

.expiration {
    width: 49%;height: 50px;
    border: 1px solid;border-radius: 10px 0 0 10px;
}

.cVV {
    width: 49%;height: 50px;
    border: 1px solid;border-radius: 0 10px 10px 0;
}

.wordEnter {
    margin-top: 35px;margin-bottom: 51px;
    font-size: 18px;font-weight: 400;
    text-decoration-line: underline;
}

.wordCancellation {
    margin-top: 48px;
    font-size: 28px;font-weight: 600;
}

.wordFreeCancellationInCheckout {
    margin-top: 18px;margin-bottom: 47px;
    font-size: 21px;font-weight: 400;
}

.wordBySelectingInCheckout {
    margin-top: 40px;
    font-size: 16px;font-weight: 400;
}

.buttonInCheckout {
    width: 50%;height: 65px;
    margin-top: 48px;
    border: none;border-radius: 8px;
    color: white;background-color: #0058FE;
}

.meetingBlockInCheckout {
    width: 39%;height:max-content;
    padding-bottom: 30px;
    border: 2px solid;
    border-radius: 15px;
    background-color: white;
}

.picNMeetingRoomInMmeetingBlockInCheckout{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 32px;
    text-align: center;
}

.wordMeetingRoom {
    font-size: 24px;font-weight: 600;
    margin: auto;
}

.wordPriceDetail {
    width: 80%;
    margin: auto;
    margin-top: 32px;margin-bottom: 32px;
    font-size: 24px;font-weight: 600;
    text-align: start;
}

/* page Homepage */

.firstPicSecInHomepage {
    height: 599px;
    padding-top: 10px;
    border-radius: 24px;
    color: white;
    background-image: url("../../static/Homepage1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.buttonSignUpInHomepage {
    width: 100px;
    border: none;border-radius: 15px;
    font-size: 18px;font-weight: 500;
    background-color: white;
}

.wordProfessionalInHomepage {
    margin: auto;
    margin-top: 143px;
    font-size: 45px;font-weight: 700;
    text-align: center;
}

.wordClassyInHomepage {
    margin: auto;
    margin-top: 16px;
    font-size: 20px;font-weight: 600;
    text-align: center;
}

.secondSecInHomepage {
    width: 89%;height: 170px;
    margin: auto;
    margin-top: -95px;
    padding-top: 34px;
    border-radius: 16px;
    background-color: white;
}

.bookInSecondSecInHomepage {
    display: flex;
    margin-left: 36px;
}

.picsBookYourRoomInHomepage {
    width: 19px;height: 21px;
    margin-right: 1%;
}

.inputSecInHomepage {
    display: flex;
    margin-top: 33px;
    justify-content: space-evenly;
}

.buttonInHomepage {
    width: 22%;height: 55px;
    border: none;border-radius: 8px;
    color: white;background-color: #0058FE;
}

.picSecInHomepage {
    display: flex;
    width: 89%;
    margin: auto;
    margin-top: 88px;
    justify-content: space-evenly;
}

.leftPicInHomepage {
    width: 49%;height: 559px;
    border-radius: 20px;
    background-image: url("../../static/RightPicInHomepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.rightPicInHomepage {
    width: 49%;height: 559px;
    border-radius: 20px;
    background-image: url("../../static/LeftPicInHomepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.firstWordsInPicInHomepage {
    margin-top: 318px;
    font-size: 40px;font-weight: 800;
    text-align: center;
    color: white;
}

.secondWordsInPicInHomepage {
    width: 64%;
    margin: auto;
    margin-top: 8px;
    font-size: 18px;font-weight: 400;
    text-align: center;
    color: white;
}

.buttonInPicInHomepage {
    width: 44%;height: 35px;line-height: 35px;
    margin: auto;
    margin-top: 37px;
    border: 1px solid;border-radius: 6px;
    text-align: center;
    color: white;
}

/* Backend */
/* page BackendLogin */

.bodyInBackendLogin {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.leftBackgroundInBackendLogin {
    width: 58%;min-height: 100%;
    background-image: url("../../static/Homepage1.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    filter: brightness(70%);
}

.leftInBackendLogin{
    width: 58%;min-height: 100%;
    margin-left: -58%;
    color: white;
    z-index: 100;
}

.wordOurInBackendLogin {
    margin-top: 56px;margin-left: 12%;
    font-size: 40px;font-weight: 700;
    color: white;
    filter: brightness(1000%);
}

.wordBookInBackendLogin {
    margin-top: 60%;
    margin-left: 12%;
    font-size: 15px;font-weight: 400;
    color: white;
}

.rightInBackendLogin {
    width: 42%;min-height: 100%;
    margin: 0;
    /* padding-top: 7%;
    padding-left: 8%;
    padding-right: 8%; */
}

.blockInRightInBackendLogin {
    margin-top: 7%;
    margin-left: 17%;margin-right: 17%;
}

.picNBeThingInBackendLogin {
    display: flex;
}

.logoInBackendLogin {
    
}

.beThingInBackendLogin {
    width: 19%;height: 22px;
    margin-top: 2%;margin-left: 2%;
}

.wordSignInBackendLogin {
    margin-top: 65px;
    font-size: 30px;font-weight: 700;
}

.wordEmailInBackendLogin {
    margin-top: 60px;
    font-size: 20px;font-weight: 700;
}

.wordPasswordInBackendLogin {
    margin-top: 20px;
    font-size: 20px;font-weight: 700;
}

/* .inputEmailInBackendLogin {
    width: 94%;height: 40px;
    margin-top: 2%;
    padding-left: 15px;
    border: 1px solid rgb(224, 224, 224);border-radius: 5px;
} */

.inputPasswordInBackendLogin {
    width: 94%;height: 40px;
    margin-top: 2%;
    padding-left: 15px;
    border: 1px solid rgb(224, 224, 224);border-radius: 5px;
}

.wordforgotInBackendLogin {
    margin-top: 10px;
    text-align: right;
    font-size: 18px;font-weight: 500;
    color: #9A9A9A;
}

.buttonInBackendLogin {
    width: 100%;height: 55px;
    margin-top: 9%;
    border: 0px;border-radius: 8px;
    font-family: "Lato";
    color: white;background-color: #0058FE;
}

.checkboxNRememberMeInBackendLogin {
    display: flex;
    margin-left: -0.5rem;
    color: #4C4C4C;
}

/* page BackendLoginForgot */

.bodyInBackendLoginForgot {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../../static/Homepage1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.backSecInBackendLoginForgot {
    display: flex;
    margin-top: 57px;
    margin-left: 11%;
    font-size: 20px;font-weight: 700;
}

.beThingSecInBackendLoginForgot {
    display: flex;
    width: 20%;
    margin: auto;
    margin-top: 5px;
    text-align: center;
}

.innerBeThingSecInBackendLoginForgot {
    margin: auto;
}

.whiteSecInBackendLoginForgot {
    width: 39%;
    margin: auto;
    margin-top: 1%;margin-bottom: 15%;
    padding-top: 2%;
    padding-bottom: 3%;
    border-radius: 30px;
    color: black;background-color: white;
}

.innerWhiteSecInBackendLoginForgot {
    width: 72%;
    margin: auto;
    margin-top: 1%;
}

.wordForgotInBackendLoginForgot {
    font-size: 30px;font-weight: 700;
    text-align: start;
}

.wordEnterEmailInBackendLoginForgot {
    margin-top: 5%;
    font-size: 18px;font-weight: 400;
    text-align: start;
}

.wordEmailInBackendLoginForgot {
    margin-top: 12%;
    font-size: 20px;font-weight: 700;
    text-align: start;
}

.buttonInBackendLoginForgot {
    width: 100%;height: 55px;
    margin-top: 9%;
    border: 0px;border-radius: 8px;
    color: white;background-color: #0058FE;
}

/* page BackendDashboard */
/* 搬運，全頁製作好消除註解 */

.bodyInBackendDashboard {
    display: flex;
}
.leftInBackendDashboard {
    width: 18%;
    min-width: 150px;
}
  
.leftEmpty {
    width: 18%;height: 100vh;
    min-width: 150px;
    margin: 0px;
}
  
.left {
    width: 18%;height: 100vh;
    min-width: 150px;
    margin: 0px;
    background-color: #0058FE;
    position: fixed;top: 0;left: 0;
    z-index: 2000;
}
  
  /* .imgNWTYTrading {
    width: 100%;margin-bottom: 10px;
    color: white;
    justify-content: center;
    text-align: center;
    background-color: red;
  } */
  
  .logoNWordInOrder {
    display: flex;
    width: max-content;
    margin: auto;
    margin-top: 45px;
    justify-content: space-around;
  }
  
  .WTCLogo1{
    width: 24px;height: 34px;max-width: 24px;min-width: 20px;
    margin-right: 15%;
  }

.whiteBlockDashboardInBackendDashboard {
    display: flex;
    width: 70%;height: 6%;
    margin: auto;
    margin-top: 40%;
    border-radius: 10px;
    color: black;
    background-color: white;
}
  
  /* .WTYTrading {
    margin-top: 5px;margin-left: 19px;
    font-size: 19px;
    white-space:nowrap;
  } */
  
  /* .straightLine {
    width: 4px;height: 56px;
    margin-left: 0px;margin-right: 3px;
    background-color: #5F77F1;
  } */
  
  .straightLineDark {
    width: 4px;height: 56px;
    margin-left: 0px;margin-right: 3px;
  }
  
  /* .iconNMenu{
    width: 231px;height: 56px;
    display: flex;
    background-color: #5B60DE;
    align-items: center;
  } */
  
  .ListInLeftNew {
    color: white;
    margin-top: 5px!important;
  }
  
  .iconNMenuDark{
    display: flex;
    width: max-content;height: 3%;
    margin-bottom: 10px;
    align-items: center;
  }
  
  .itemIcon {
    width: 16px;height: 18px;
    margin-left: 20px;
    color: white !important;
  }
  
  .itemIconDark {
    width: 16px;height: 18px;
    margin-left: 35px;
    color: white !important;
  }
  
  .itemMenu {
    margin-top: 13px!important;margin-left: 10px;
    color: white ;
  }
  
  .itemMenuDark {
    margin-top: 13px!important;margin-left: -5%;
    color: white;
  }

  .downListInLeftInBackendDashboard {
    color: white;
    margin-top: 40%!important;
  }
  
  .item {
    margin: 20px;
    display: flex;
  }
  
  .itemDark {
    margin: 20px;
    display: flex;
  }
  
  .imgItem {
    width: 5px;height: 10px;
  }
  
  .itemDetails {
    height: 10px;line-height: 10px;
    color: white;
  }
  
  .itemDetailsDark {
    height: 10px;line-height: 10px;
    color: grey;
  }

  /* RightInBackendDashboard */
  .rightInBackendDashboard {
    width: 77%;
  }

  /** NavInBackendDashboard **/
  .navInBackendDashboard {
    display: flex;
    width: 100%;
    margin-top: 45px;
    margin-left: 38px;
    margin-right: 36px;
    font-size: 24px;font-weight: 700;
    color: black;
    justify-content: space-between;
  }
  
  .wordOverviewInNavInBackendDashboard {
    margin-right: 0px;
  }

  .stackInNavInBackendDashboard {
    margin-right: 28px;
  }

  .nameInNavInBackendDashboard {
    margin-right: 28px;
    font-size: 14px;font-weight: 700;
    color: black;
  }

  .titleInNavInBackendDashboard {
    font-size: 14px;font-weight: 500;
    color: #B3B3B3;
  }
  /* 額外效果 */
  .pointer {
    cursor: pointer;
  }

  /** InToday **/
  .inTodayInBackendDashboard {
    display: flex;
    width: 100%;        /* 跟navInBackendDashboard一樣 */
    margin-top: 56px;
    margin-left: 38px;  /* 跟navInBackendDashboard一樣 */
    margin-right: 36px; /* 跟navInBackendDashboard一樣 */
    font-size: 18px;font-weight: 800;
  }

  .downArrowInBackendDashboard {
    height: 70%;
    margin-top: 13px;
    margin-left: 1%;
  }

  /** ContentInBackendDashboard **/
  .ContentInBackendDashboard {
    width: 100%;
    margin-top: 32px;
    margin-left: 38px;  /* 跟navInBackendDashboard一樣 */
    margin-right: 36px; /* 跟navInBackendDashboard一樣 */
  }

  .bottomInContentInBackendDashboard {
    display: flex;
    justify-content: space-between;
  }

  .coinsNAppointments {
    width: 65%;
  }

  .coins {
    display: flex;
    justify-content: space-between;
  }

  .threeCoinsSec {
    width: 30%;height: 100px;    
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    align-items: end;
  }

  .topInthreeCoinsSec {
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: start;
  }

.bottomInthreeCoinsSec {
    display: flex;
    height: 50%;
    justify-content: space-between;
    align-items: end;
}

.iconInTopInthreeCoinsSec {
    margin-top: 6.5%;
    margin-left: 8%;
}

.percentageInTopInthreeCoinsSec {
    margin-top: 11%;
    margin-right: 8%;
    font-size: 12px;font-weight: 400;
}

.numInBottomInthreeCoinsSec {
    margin-bottom: 6.5%;
    margin-left: 8%;
    font-size: 24px;font-weight: 700;
}

.statusInBottomInthreeCoinsSec {
    margin-bottom: 11%;
    margin-right: 8%;
    font-size: 12px;font-weight: 400;
}

.appointmentsSec {
    margin-top: 52px;
}

.appointmentsNSearchNFilter {
    display: flex;
    justify-content: space-between;
}

.wordAppointments {
    font-size: 18px;font-weight: 700;
}

.wordShowing {
    margin-top: 18px;
    font-size: 12px;font-weight: 400;
    color: #807B7B;
}

.inputNFilterInBackendDashboard {
    width: 48%;
    display: flex;
    align-items: end;
}

.inputSearchInBackendDashboard {
    width: 100%;height: 50%;
    margin-right: 5%;
    padding-left: 15%;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
    background: #FAFAFA;

    background-image: url("../../static/Microscoop.png");
    background-repeat: no-repeat;
    background-position: 5%;
}

.filterInBackendDashboard {
    height: 57%;
}

.tableNPreviousPage {
    padding: 2%;
    box-shadow: 0px 14px 19px rgba(0, 0, 0, 0.09);
}

.tableInBackendDashboard {
    margin-top: 31px;
}

.trOfHeadInBackendDashboard {
    display: flex;
    width: 100%;height: 40px;
    font-size: 12px;font-weight: 700;
    color: #4C4C4C;
}

.iDinAppointmentsInBackendDashboard {
    display: flex;
    width: 15%;
}

.statusInAppointmentsInBackendDashboard {
    display: flex;
    width: 18%;
}

.appointmentDateInAppointmentsInBackendDashboard {
    display: flex;
    width: 27%;
    white-space: nowrap;
}

.timeInAppointmentsInBackendDashboard {
    display: flex;
    width: 25%;
}

.amountInAppointmentsInBackendDashboard {
    display: flex;
    width: 15%;
}

.arrowsInBackendDashboard {
    display: flex;
    flex-direction: column;
    height: max-content;
    margin-top: 1%;
    margin-left: 5%;
}

.upArrowInAppointmentsInBackendDashboard { 
    width: 0;
    height: 0;
    border: 3px solid black;
    border-color: transparent transparent black transparent;
}

.downArrowInAppointmentsInBackendDashboard {
    width: 0;
    height: 0;
    margin-top: 15%;
    border: 3px solid black;
    border-color: black transparent transparent transparent;   
}

.trOfBodyInBackendDashboard {
    display: flex;
    color: #808080;
    font-size: 15px;font-weight: 700;
    text-align: left;
    justify-content: space-between;
}

.firstTrOfBodyInBackendDashboard {
    width: 15%;
}

.secondTrOfBodyInBackendDashboard {
    width: 18%;
    align-items: center;

}

.thirdTrOfBodyInBackendDashboard {
    width: 27%;
}

.fourthTrOfBodyInBackendDashboard {
    width: 25%;
}

.fifthTrOfBodyInBackendDashboard {
    display: flex;
    width: 15%;
    justify-content: space-between;
}

.threeDots {
    height: 40%;
    margin-top: 3%;
}

.hrInBackendDashboard {
    margin-top: 10px;margin-bottom: 10px;
    border-top: 1px solid #F2F2F2;
}

.previousSecInBackendDashboard {
    display: flex;
}

.wordPreviousInBackendDashboard {
    margin-top: 1%;
    font-size: 12px;
    font-weight: 700;
    color: #9F9F9F;
}

.bluePageIndexInBackendDashboard {
    width: 20px;height: 20px;
    margin: 5px;
    margin-left: 3%;
    border-radius:999em;
    color: white;background-color: #0058FE;
    text-align: center;align-items: center;
}

.greyPageIndexInBackendDashboard {
    width: 20px;height: 20px;
    margin: 5px;
    border-radius:999em;
    background-color: #E6E6E6;
    text-align: center;align-items: center;
}

.wordNextPageInBackendDashboard {
    margin-top: 1%;
    margin-left: 3%;
    font-size: 12px;
    font-weight: 700;
    color: #4C4C4C;
}

.calendarInBackendDashboard {
    width: 33%;
    box-shadow: 0px 14px 19px rgba(0, 0, 0, 0.09);
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* Calendar */
.calendar {
    width: 100%;
    place-items: center;
}

.calendarMonthNyear {
    display: flex;
    width: 95%;
    margin: auto;
    justify-content: space-between;
}

.wordCalendar {
    margin-top: 4%;
    margin-left: 4%;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}

.monthNyearPicker {
    display: flex;
    margin-top: 4%;
    margin-right: 5%;
}

.monthNyear {
    margin-right: 10%;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.downArrowInCalendarInBackendDashboard {
    height: 6px;
    margin-top: 5%;
}

.calendarBody {
    width: 95%;
    margin: auto;
}

.calendarWeekDay {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.greyNotTodaysDay {
    display: grid;
    font-size: 14px;
    font-weight: 400;
    place-items: center;
    color: #A0A0A0;
}

.blackTodaysDay {
    display: grid;
    font-size: 14px;
    font-weight: 400;
    place-items: center;
    color: black;
}

.calendarDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 14px;font-weight: 400;font-style: normal;
    place-items: center;
    color: black;
}

.calendarDay {
    width: 50%;height: 0;
    padding: 0;
    padding-bottom: 50%;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.currDate {
    width: 100%;height: 100%;
    border-radius: 5px;
    color: white;background-color: #0058FE;
}

/* UpcomingInBackendDashboard */
.wordUpcomingNAll {
    display: flex;
    width: 91%;
    margin: auto;
    margin-top: 61px;
    justify-content: space-between;
}

.wordUpcoming {
    font-size: 18px;    
    font-weight: 400;
}

.wordAllInUpcoming {
    font-size: 14px;
    font-weight: 400;
    color: #4C4C4C;
}

.headNRoomNTimeInUpcomingInBackendDashboard {
    display: flex;
    width: 91%;
    margin: auto;
    margin-top: 36px;
    justify-content: space-between;
}

.stackInUpcomingInBackendDashboard {
    width: 35px!important;height: 35px!important;
}

.roomnameNTimeInUpcomingInBackendDashboard {
    width: 70%;
    margin-left: 0%;
}

.roomname {
    font-size: 16px;
    font-weight: 500;
    color: #2A2A2A;
}

.roomnumberNTimeInUpcomingInBackendDashboard {
    display: flex;
    margin-top: 5px;
}

.roomnumber {
    font-size: 14px;
    font-weight: 500;
    color:rgba(42, 42, 42, 0.7);
}

.timeInroomnumberNTimeInUpcomingInBackendDashboard {
    margin-left: 20%;
    font-size: 14px;
    font-weight: 400;
}