body {
    margin: 0px;
}

.loginNsignup {
    display: flex;
    justify-content: space-around;
}

/* component Type */

.type {
    width: 40%;
    margin-top: 5%;margin-left: 10%;
}

.picNtitle {
    display: flex;
}

.bething {
    margin-left: 1rem;
    font-size: 38px;font-weight: bold;
}

.login {
    margin-top: 2rem;
    font-size: 40px;font-weight: bold;
}

.loginToAccess {
    margin-top: 0.5rem;
    font-size: 21px;
}

.checkboxNForgotPassword {
    display: flex;
    justify-content: space-between;
}

.rememberMe {
    line-height: 5rem;
}

.forgotPassword {
    margin-right: 6rem;
    color:red;
    line-height: 5rem;
}

.checkboxNRememberMe {
    display: flex;
    margin-left: -0.5rem;
}

.loginButton {
    width: 90%;height: 4rem;
    color: white;background-color: #0058FE;
    border:none;
    border-radius: 0.4rem;
    font-size: 14px;font-weight: 600;
}

.dontHaveAnAccount {
    width: 90%;
    margin-top: 1.5rem;
    font-size: 14px;
    text-align: center;
}

.wordSignUpInType {
    text-decoration: underline;
}

.orLoginWith {
    display: flex;
    width: 90%;
    margin-top: 3rem;margin-bottom: 3rem;
    text-align: center;
    justify-content: space-evenly;
}

.hori-line {
    width: 40%;
    height: 1px;
    margin-top: 0.6rem;
    border-top: solid 0.1rem grey;
}

.threeButtonsSection {
    width: 90%;
    margin-top: -1.5rem;
    justify-content: space-around;
    flex-grow: auto;
}

.threeButtons {
    width:28%;height: 3rem;
    margin: 1rem;
    border: grey solid 0.1rem;
    border-radius: 7px;
    background-color: white;
}

.thirdButton {
    margin-top: 4rem;
}

.picSection {
    width: 40%;
    height: 0%;
    margin-right: 10%;
    float:right ;
}

.pic{
    width: 80%;height: 70%;
    margin-top: 10%;margin-right: 104px;
}

/* page SignUp */
.signUpPicSection {
    width: 40%;
    height: 0%;
    margin-left: 10%;
}

.signType {
    width: 40%;
    height: 0%;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: -5%;
    float:right 
}

/* page Booking */

.bodyInBooking {
    margin-top: 0px;
    padding-top: 40px;
    padding-left: 4%;padding-right: 4%;
    padding-bottom: 4%;
    background-color: rgb(238, 237, 237);
}

.navInBooking {
    width: 92%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.picNtitleInBooking {
    display: flex;   
}

.navMiddleInBooking {
    display: flex;
    width: 30%;
    padding-top: 1%;
    font-size: 18px;
    font-weight: 700;
}

.picsInNavMiddleInBooking {
    width: 19px;height: 21px;
    margin-right: 2%;
}

.wordsInNavMiddleInBooking {
    margin-right: 5%;
    font-size: 18px;
    font-weight: 700;    
}

.rightInBooking {
    display: flex;
    font-size: 18px;
    font-weight: 700;
}

.wordLoginInBooking {
    margin-top: 10%;margin-left: -20%;margin-right: 10%;
}

.buttonSignUpInBooking {
    width: 100px;
    border-radius: 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: white;
}

/* component HeadNNameInBooking */

.headNNameInBooking {
    width: 92%;
    margin: auto;
}

.secondSecInBooking {
    width: 100%;
    margin-top: 47.5px;
    object-fit: cover;
    z-index: 0;
}

.circle {
    width: 100%;
    text-align: center;
}

.headInBooking {
    width: 10%;height: 10%;
    margin-top: -150px;
    border: 1px rgb(91, 207, 236) solid;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
}

.circle1 {
    width: 100%;
    text-align: center;
    margin-top: -50px;
}

.penPicInBooking {
    margin-right: -7%;
}

.nameNEmailInBooking {
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.nameInBooking {
    font-size: 24px;
    font-weight: 600;
}

.emailInBooking {
    font-size: 16px;
    font-weight: 400;
    color: #69696983;
    ;
}

.profileNBookingsNPaymentInBooking {
    display: flex;
    width: 91%;height: 80px;line-height: 80px;
    margin: auto;
    margin-top: 32px;
    justify-content: center;
    background-color: rgb(238, 237, 237);
}

.profildInBooking {
    display: flex;
    width: 30%;
    padding-left: 2%;padding-right: 1%;
    border-radius: 10px 0px 0px 10px;
    font-size: 18px;font-weight: 400;
    justify-content: space-between;
    background-color: white;
}

.bookingsInBooking {
    display: flex;
    width: 30%;
    padding-left: 2%;padding-right: 1%;
    font-size: 18px;font-weight: 400;
    justify-content: space-between;
    background-color: white;
}

.paymentInBooking {
    width: 30%;
    padding-left: 2%;
    border-radius: 0px 10px 10px 0px;
    font-size: 18px;font-weight: 400;
    background-color: white;
}

.boardsInProfileNBookingsNPaymentInBooking {
    width: 0.1px;height: 80%;
    border-left: solid;
}

.link-right {
    width: 0px;
    height: 50%;
    margin-top: 20px;
    border-right: solid #eff1f3 3px;
}

.wordMyBookingsInBookingNWordUpcomingNDownArrowInBooking {
    display: flex;
    width: 91%;
    margin: auto;
    justify-content: space-between;
}

.wordMyBookingsInBooking {
    margin-top: 40px;margin-left: 1%;
    font-size: 28px;font-weight: 600;
}

.wordUpcomingNDownArrowInBooking {
    display: flex;
    height: 50%;
    margin-top: 40px;margin-right: 2%;
}

.wordUpcomingInBooking {
    font-size: 14px;font-weight: 600;
}

.downArrowInBooking {
    height: 50%;
    margin-top: 9%;margin-left: 15%;
}

.picNTimeNLocationNDownloadQRCodeInBooking {
    display: flex;
    width: 89%;height: 144px;line-height: 80px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.picInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 3%;
}

.timeInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 3%;margin-right: 3%;
    font-size: 20px;font-weight: 600;
}

.link-rightInPicNTimeNLocationNDownloadQRCodeInBooking {
    width: 0px;
    height: 50%;
    margin-top: 0px;margin-right: 1%;
    border-right: solid #eff1f3 3px;
}

.picDateInBooking {
    margin-left: -2%;
}

.dateSecInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 1%;
}

/* .dateNDateInPicNTimeNLocationNDownloadQRCodeInBooking {
    height: 30%;
    background-color: red;
} */

.wordDateInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: 0px;margin-left: -70%;
    font-size: 14px;font-weight: 600;
    color: #112211;
}

.dateInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: -60px;margin-left: -70%;
    font-size: 18px;font-weight: 700;
}

.picLocationInBooking {
    margin-left: -5%;
}

.locationSecInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-left: 1%;
}

.wordLocationInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: 0px;margin-left: -25%;
    font-size: 14px;font-weight: 600;
    color: #112211;
}

.locationInPicNTimeNLocationNDownloadQRCodeInBooking {
    margin-top: -60px;margin-left: -25%;
    font-size: 18px;font-weight: 700;
}

.rightArrowInBooking {
    width: 3.2%;height: 33%;
    margin-left: -2%;
    border: #0058FE solid 2px;border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.rightArrowInPicNTimeNLocationNDownloadQRCodeInBooking {
    width: 20%;
    margin-left: 40%;margin-bottom: 25%;
    object-fit: cover;
}

.blackSectionInBooking {
    display: flex;
    width: 89%;
    margin: auto;
    margin-top: 105px;
    padding-top: 0px;
    border-radius: 10px;
    align-items: start;
    justify-content: space-around;
    background-color: #444444;  
    z-index: 3;  
}

.leftPartInBlackSectionInBooking {
    width: 48%;
    margin-top: 24px;
}

.wordSubscribeToOurNewsletterInBlackSectionInBooking {
    margin-top: 0px;margin-left: 1%;
    font-size: 30px;font-weight: 700;
    color: #ffffff;
}

.rightPartInBlackSectionInBooking {
    width: 48%;
}

.wordBookEverythingNowInBlackSectionInBooking {
    margin-top: 24px;
    font-size: 20px;font-weight: 700;
    color: #ffffff;
}

.wordGetInBlackSectionInBooking {
    margin-top: 8px;
    font-size: 18px;font-weight: 400;
    color: #ffffff;
}

.inputInBlackSectionInBooking {
    width: 75%;height: 56px;
    margin-top: 24px;
    padding-left: 10px;
    border: 0px;border-radius: 5px;
    font-size: 18px;
}

.buttonInBlackSectionInBooking {
    width: 15%;height: 56px;
    margin-top: -100px;
    margin-left: 3%;
    margin-bottom: 3%;
    border: 0px;border-radius: 5px;
    color: white;background-color: #FFC107;
}

.bottomInBooking {
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: -90px;
    padding-top: 150px;
    justify-content: space-evenly;
    z-index: 2;
}

.beThingNPicsInBottomInBooking {
    margin-left: -8%;
}

.picsInBottomInBooking {
    margin-top: 10%;
}

.twitterPic {
    margin-left: 5%;
}

.youtubePic {
    margin-bottom: 1%;
    margin-left: 5%;
}

.igPic {
    margin-left: 5%;
}

.blogInBottomInBooking {
    margin-left: -10%;
}

.titlesInBottomInBooking {
    margin-bottom: 16px;
    font-size: 16px;font-weight: 700;
    color: #112211;
}

.subtitlesInBottomInBooking {
    margin-top: 12px;
}

/* page payment */

.cCNAddNewCardInPayment {
    display: flex;
    width: 89%;height: 248px;line-height: 80px;
    margin: auto;
    margin-top: 25px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}

.cCInPayment {
    width: 315px;height: 184px;
    margin-left: -50%;
    background-color: purple;
}

.addNewCard {
    width: 315px;height: 184px;
    margin-left: -100%;
    border: dashed blue;
}

.wordAddANewCard {
    align-items: end;
    text-align: center;
}

/* page Detail */

.picsInDetail {
    display: flex;
    width: 91%;
    margin-top: 44px;
    justify-content: center;
}

.leftPicInDetail {
    width: 49%;
}

.rightPicInDetail {
    margin-left: -4%;
}

.rightInRightPicInDetail {
    margin-left: 0.5%;
}

.detailInDetail {
    display: flex;
    margin-top: 72px;
    justify-content: center;
}

.leftInDetailInDetail {
    margin-right: 10%;
}

.wordMeetingRoomInDetail {
    font-size: 28px;font-weight: 600;
}

.wordProvideInDetail {
    margin-top: 8px;
}

.wordOffersInDetail {
    margin-top: 50px;
    font-size: 28px;font-weight: 600;
}

.bookYourRoomInDetail {
    width: 375px;height: 335px;
    border: 2px solid;
    border-radius: 15px;
}

.bookYourRoomInBookYourRoomInDetail {
    display: flex;
    margin-top: 34px;margin-left: 36px;
}

.dateInBookYourRoomInDetail {
    margin-top: 33px !important;
    margin-left: 33px !important;
}

.timeInBookYourRoomInDetail {
    margin-top: 24px !important;
    margin-left: 33px !important;
}

.buttonInBookYourRoomInDetail {
    width: 82%;height: 48px;
    margin-top: 24px;
    margin-left: 33px;
    border: none;border-radius: 10px;
    color:white;background-color: #0058FE;
}

/* page Detail2 */

.bookYourRoomInDetail2 {
    width: 375px;
    padding-bottom: 30px;
    border: 2px solid;
    border-radius: 15px;
}

.wordYouWontInDetail2 {
    margin-top: 32px;
    font-size: 16px;font-weight: 400;
    text-align: center;
}

.pricePreHourInDetail2 {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 32px;
    font-size: 18px;font-weight: 400;
    text-align: center;
    justify-content: space-between;
}

.hrInBookYourRoomInDetail2 {
    width: 80%;
    margin-top: 28px;margin-bottom: 24px;
}

.totalPriceInDetail2 {
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 18px;font-weight: 600;
    text-align: center;
    justify-content: space-between;
}

/* page Checkout */

.secondSecInCheckout {
    display: flex;
    width: 82%;
    margin: auto;
    margin-top: 57px;
    justify-content: space-between;
}

.leftInSecondSecInCheckout {
    width: 45%;
}

.wordConfirmationInChecking {
    font-size: 32px;font-weight: 600;
}

.wordYourBookingInChecking {
    margin-top: 45px;
    font-size: 24px;font-weight: 600;
}

.dateNEditInChecking {
    display: flex;
    margin-top: 24px;
    font-size: 18px;font-weight: 700;
    justify-content: space-between;
}

.wordEditInChecking {
    text-decoration: underline;
}

.dateInSecondSecInCheckout {
    margin-top: 8px;
    font-size: 16px;font-weight: 400;
}

.timeNEditInChecking {
    display: flex;
    margin-top: 24px;
    font-size: 18px;font-weight: 700;
    justify-content: space-between;
}

.timeInSecondSecInCheckout {
    margin-top: 8px;margin-bottom: 39px;
    font-size: 16px;font-weight: 400;
}

.payWithInCheckout {
    margin-top: 48px;
    font-size: 28px;font-weight: 600;
}

.cCOrDC {
    width: 100%;height: 50px;
    margin-top: 24px;
    border: 1px solid;border-radius: 10px;
}

.expirationNCVV {
    width: 101%;
    display: flex;
    padding: 0;
}

.expiration {
    width: 49%;height: 50px;
    border: 1px solid;border-radius: 10px 0 0 10px;
}

.cVV {
    width: 49%;height: 50px;
    border: 1px solid;border-radius: 0 10px 10px 0;
}

.wordEnter {
    margin-top: 35px;margin-bottom: 51px;
    font-size: 18px;font-weight: 400;
    text-decoration-line: underline;
}

.wordCancellation {
    margin-top: 48px;
    font-size: 28px;font-weight: 600;
}

.wordFreeCancellationInCheckout {
    margin-top: 18px;margin-bottom: 47px;
    font-size: 21px;font-weight: 400;
}

.wordBySelectingInCheckout {
    margin-top: 40px;
    font-size: 16px;font-weight: 400;
}

.buttonInCheckout {
    width: 50%;height: 65px;
    margin-top: 48px;
    border: none;border-radius: 8px;
    color: white;background-color: #0058FE;

}

.meetingBlockInCheckout {
    width: 39%;height:max-content;
    padding-bottom: 30px;
    border: 2px solid;
    border-radius: 15px;
    background-color: white;
}

.picNMeetingRoomInMmeetingBlockInCheckout{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 32px;
    text-align: center;
}

.wordMeetingRoom {
    font-size: 24px;font-weight: 600;
    margin: auto;
}

.wordPriceDetail {
    width: 80%;
    margin: auto;
    margin-top: 32px;margin-bottom: 32px;
    font-size: 24px;font-weight: 600;
    text-align: start;
}